<ul class="list-group"> 
    <li class="list-group-item list-group-item-secondary">Apellido: {{actor.apellido}}</li>
    <li class="list-group-item list-group-item-primary">Nombre: {{actor.nombre}}</li>
    <li class="list-group-item list-group-item-secondary">Mail: {{actor.mail}}</li>
    <li class="list-group-item list-group-item-primary">Nombre de usuario: {{actor.nombreUsuario}}</li>
    <li class="list-group-item list-group-item-secondary">Cantidad de peliculas: {{actor.cantidadDePeliculasParticipe}}</li>
    <li class="list-group-item list-group-item-primary">Pelicula mas exitosa: {{actor.nombrePeliculaMasExitosa}}</li>
</ul>

