<table class="table table-striped table-dark">
    <tr>
       <th>
        NOMBRE
       </th>
       <th>
        TIPO
       </th>
       <th>
        FECHA DE ESTRENO
       </th>
       <th>
        CANTIDAD DE PUBLICO
       </th>
       <th>
        IMAGEN
       </th>
       <th>
        SELECCIONAR
       </th>
    </tr>

    <tr *ngFor="let pelicula of listaPeliculas">
        <td>{{pelicula.nombre}}</td>
        <td>{{pelicula.tipo}}</td>
        <td>{{pelicula.fechaEstreno}}</td>
        <td>{{pelicula.cantidadPublico}}</td>
        <td><img src={{pelicula.urlFoto}} alt="40px" width="40px"></td>
        <td><button type="button" class="btn btn-primary" (click)="this.pasarPelicula(pelicula)">Elegir</button></td>
    </tr>

    <!--
    <tr *ngFor="let pelicula of peliculas">
        <td>{{pelicula.id}}</td>
        <td>{{pelicula.getNombre()}}</td>
        <td>{{pelicula.getTipo()}}</td>
        <td>{{pelicula.getFechaEstreno()}}</td>
        <td>{{pelicula.getCantidadPublico()}}</td>
        <td>{{pelicula.getFoto()}}</td>
    </tr>
    -->

</table>

<!--
        <tr *ngFor="let pelicula of this.peliculas; index as i;">
        <td>{{pelicula.id}}</td>
        <td>{{pelicula.nombre}}</td>
        <td>{{pelicula.tipo}}</td>
        <td>{{pelicula.fechaEstreno}}</td>
        <td>{{pelicula.cantidadPublico}}</td>
        <td>
            IMAGEN
        </td>
    </tr>
-->