<div class="container" >
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Pais de nacimiento</span>
    </h4>

    <ul class="scroll_ul">
        <li *ngFor="let pais of paises" class="list-group-item bg-primary">
            <button type="button" class="list-group-item list-group-item-action active" aria-current="true" (click)="this.pasarPaisElejidoPais(pais)">
                <img src={{pais.flags.png}} width="50px" class="rounded float-start">
                {{pais.translations.spa.common}}
            </button>
        </li>
    </ul> 
</div>



<!-- 

        <ul class="list-group mb-3 list-group">
        <li *ngFor="let pais of paises" class="list-group-item bg-primary">
            <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                <img src={{pais.flags.png}} width="50px" class="rounded float-start">
                {{pais.name.common}}
            </button>
        </li>
    </ul> 

 <div class="scroll_div">
        <button type="button" class="btn bg-info" aria-current="true" (click)="this.elejirPais(pais)"
        *ngFor="let pais of paises">
            <img src={{pais.flags.png}}  class="img-fluid rounded float-start" width="50px">
            {{pais.name.common}}
        </button>
    </div>

    


     class="rounded float-start"
    
-->
  
 